.container {

  .header {
    height: 46px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

    .title {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0 16px;
    }
  }

  .content {
    padding: 16px;
  }
}